:root {
  --accent: #7222da;
  --primary: #ffb405;
  --white: #ffffff;
  --grey10: #f5f5f5;
  --grey20: #e0e0e0;
  --grey30: #b0b0b0;
  --grey40: #606060;
  --grey90: #0a0a0a;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --error: #dc3545;
  --font-families-playfair-display: Playfair Display;
  --font-families-fira-sans: Fira Sans;
  --line-heights-0: 150%;
  --line-heights-1: 140%;
  --font-weights-playfair-display-0: ExtraBold;
  --font-weights-fira-sans-1: Regular;
  --font-weights-fira-sans-2: Bold;
  --font-size-0: 16;
  --font-size-1: 18;
  --font-size-2: 22;
  --font-size-3: 24;
  --font-size-4: 30;
  --font-size-5: 36;
  --font-size-6: 72;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -1%;
  --paragraph-spacing-0: 0;
  --h1: [object Object];
  --h2: [object Object];
  --h3: [object Object];
  --h4: [object Object];
  --p-large: [object Object];
  --p-medium: [object Object];
  --p-small: [object Object];
  --cta: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --small: 4;
  --medium: 8;
}
